@import "./reset.css";
@import "./variables.css";
@import "./responsive.css";

body {
  height: auto;
  width: 100vw;
  position: relative;
}

body::before {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: var(--white) url("../images/desktop/image-hero.jpg") no-repeat top;
  background-size: contain;
  z-index: -1;
}

main {
  width: max(1240px);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.hero {
  height: 100vh;
  width: 100%;
  color: var(--white);
  padding-block: 4.2rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  display: inherit;
  justify-content: space-between;
  gap: 2rem;
}

.nav-menu p {
  padding-block: 0.5rem;
  border-block-end: 0.1rem solid transparent;
  transition: 0.5s all;
}

.nav-menu p:hover {
  cursor: pointer;
  border-block-end: 0.1rem solid var(--white);
}

.hero-header {
  padding: 2.5rem;
  border: 0.1rem solid var(--white);
  width: 40rem;
  margin-block: 10rem;
}

.vr-section {
  height: auto;
  width: 100%;
  display: flex;
}

.vr-container {
  height: 70vh;
  width: 100%;
  display: inherit;
  align-items: end;
  justify-content: flex-end;
  position: relative;
  margin: 8rem 0;
}

.vr-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--white) url("../images/desktop/image-interactive.jpg")
    no-repeat left;
  background-size: contain;
  z-index: -1;
}

.vr-content {
  height: auto;
  width: 45rem;
  background: var(--white);
  position: absolute;
  padding: 6rem;
  bottom: -6rem;
  right: -6rem;
}

.vr-content p {
  color: var(--dark-gray);
  margin-block-start: 2rem;
  line-height: 1.5;
}

.creations-section {
  height: 100%;
  width: 100%;
  margin-block: 3rem;
}

.creations-section header {
  display: flex;
  justify-content: space-between;
  padding: 6rem 0;
}

.creations-section header button {
  width: 12rem;
  color: var(--white);
  background: var(--black);
  text-transform: uppercase;
  border: 0.1rem solid transparent;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s all;
  letter-spacing: 0.2rem;
}

.creations-section header button:hover {
  color: var(--black);
  background: var(--white);
  border: 0.1rem solid var(--very-dark-gray);
}

.creations-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(10rem, 100%);
  gap: 1.5rem;
}

.creations-card {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  color: var(--white);
  cursor: pointer;
}

.creations-card:hover {
  color: var(--black);
}

.creations-card:hover::before {
  background-color: rgba(255, 255, 255, 0.7);
}

.creations-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s all;
  background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8));
}

.creations-card img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.creations-card h3 {
  align-self: flex-end;
  position: absolute;
  padding: 2.5rem;
}

footer {
  width: 100vw;
  height: 20vh;
  color: var(--white);
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1240px;
}

.footer-content nav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  font-size: 0.8rem;
}

.footer-logo-container img {
  height: auto;
  width: 45%;
}
