@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  --fs: 15px;

  --f-primary: "Alata", sans-serif;
  --f-secondary: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h1,
h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-family: var(--f-secondary);
}

p {
  font-family: var(--f-primary);
}
